// ===================================================================
// The Variables
// ===================================================================

// Breakpoint settings

$s-min: 320px;
$m-min: 448px;
$l-min: 768px;
$xl-min: 1024px;
$xxl-min: 1366px;

$s-max: $m-min - 1;
$m-max: $l-min - 1;
$l-max: $xl-min - 1;
$xl-max: $xxl-min - 1;

// Margins and Gutters

$s-margin: 11px;
$m-margin: 8px;
$l-margin: 18px;
$xl-margin: 27px;
$xxl-margin: 14px;

$s-gutter: 8px;
$m-gutter: 16px;
$l-gutter: 20px;
$xl-gutter: 32px;
$xxl-gutter: 28px;

// content

$max-content-width: 1412px;

// ===================================================================
// The Mixins
// ===================================================================

// Grid Mixins

@mixin grid-s($gridstart, $gridend) {
  $percent: (($gridend - $gridstart) / 12) * 100%;
  @media (min-width: #{$s-min}) {
    float: left;
    width: calc(#{$percent} - #{$s-gutter});
    @supports (display: grid) {
      width: auto !important;
      float: none !important;
      grid-column-start: $gridstart;
      grid-column-end: $gridend;
    }
  }
  @media (min-width: #{$m-min}) {
    width: calc(#{$percent} - #{$m-gutter});
  }
  @media (min-width: #{$l-min}) {
    width: calc(#{$percent} - #{$l-gutter});
  }
  @media (min-width: #{$xl-min}) {
    width: calc(#{$percent} - #{$xl-gutter});
  }
  @media (min-width: #{$xxl-min}) {
    width: calc(#{$percent} - #{$xxl-gutter});
  }
}

@mixin grid-m($gridstart, $gridend) {
  $percent: (($gridend - $gridstart) / 12) * 100%;
  @media (min-width: #{$m-min}) {
    float: left;
    width: calc(#{$percent} - #{$m-gutter});
    @supports (display: grid) {
      width: auto !important;
      float: none !important;
      grid-column-start: $gridstart;
      grid-column-end: $gridend;
    }
  }
  @media (min-width: #{$l-min}) {
    width: calc(#{$percent} - #{$l-gutter});
  }
  @media (min-width: #{$xl-min}) {
    width: calc(#{$percent} - #{$xl-gutter});
  }
  @media (min-width: #{$xxl-min}) {
    width: calc(#{$percent} - #{$xxl-gutter});
  }
}

@mixin grid-l($gridstart, $gridend) {
  $percent: (($gridend - $gridstart) / 12) * 100%;
  @media (min-width: #{$l-min}) {
    float: left;
    width: calc(#{$percent} - #{$l-gutter});
    @supports (display: grid) {
      width: auto !important;
      float: none !important;
      grid-column-start: $gridstart;
      grid-column-end: $gridend;
    }
  }
  @media (min-width: #{$xl-min}) {
    width: calc(#{$percent} - #{$xl-gutter});
  }
  @media (min-width: #{$xxl-min}) {
    width: calc(#{$percent} - #{$xxl-gutter});
  }
}

@mixin grid-xl($gridstart, $gridend) {
  $percent: (($gridend - $gridstart) / 12) * 100%;
  @media (min-width: #{$xl-min}) {
    float: left;
    width: calc(#{$percent} - #{$xl-gutter});
    @supports (display: grid) {
      width: auto !important;
      float: none !important;
      grid-column-start: $gridstart;
      grid-column-end: $gridend;
    }
  }
  @media (min-width: #{$xxl-min}) {
    width: calc(#{$percent} - #{$xxl-gutter});
  }
}

@mixin grid-xxl($gridstart, $gridend) {
  $percent: (($gridend - $gridstart) / 12) * 100%;
  @media (min-width: #{$xxl-min}) {
    float: left;
    width: calc(#{$percent} - #{$xxl-gutter});
    @supports (display: grid) {
      width: auto !important;
      float: none !important;
      grid-column-start: $gridstart;
      grid-column-end: $gridend;
    }
  }
}

// ===================================================================
// Content Settings
// ===================================================================

.content {
  margin: 0 auto;
  max-width: $max-content-width;
  .pool {
    &:after {
      display: block;
      content: '';
      clear: both;
    }
    @supports (display: grid) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      > div {
        grid-column-start: 1;
        grid-column-end: 13;
      }
    }
  }
}

// ===================================================================
// The Breakpoints
// ===================================================================

// Small devices - Mobile portrait

@media (min-width: #{$s-min}) and (max-width: #{$s-max}) {
  .content {
    padding: 0 $s-margin;
    .pool {
      margin-left: -($s-gutter/2);
      margin-right: -($s-gutter/2);
      > div {
        margin: 0 $s-gutter/2;
      }
      @supports (display: grid) {
        grid-column-gap: $s-gutter;
        margin: 0;
        > div {
          margin: 0;
        }
      }
    }
  }
}

// Medium devices - Tablets portrait, mobile landscape

@media (min-width: #{$m-min}) and (max-width: #{$m-max}) {
  .content {
    padding: 0 $m-margin;
    .pool {
      margin-left: -($m-gutter/2);
      margin-right: -($m-gutter/2);
      > div {
        margin: 0 $m-gutter/2;
      }
      @supports (display: grid) {
        grid-column-gap: $m-gutter;
        margin: 0;
        > div {
          margin: 0;
        }
      }
    }
  }
}

// Large devices - Tablet landscape, laptops

@media (min-width: #{$l-min}) and (max-width: #{$l-max}) {
  .content {
    padding: 0 $l-margin;
    .pool {
      margin-left: -($l-gutter/2);
      margin-right: -($l-gutter/2);
      > div {
        margin: 0 $l-gutter/2;
      }
      @supports (display: grid) {
        grid-column-gap: $l-gutter;
        margin: 0;
        > div {
          margin: 0;
        }
      }
    }
  }
}

// Extra large devices - Full hd monitor

@media (min-width: #{$xl-min}) and (max-width: #{$xl-max}) {
  .content {
    padding: 0 $xl-margin;
    .pool {
      margin-left: -($xl-gutter/2);
      margin-right: -($xl-gutter/2);
      > div {
        margin: 0 $xl-gutter/2;
      }
      @supports (display: grid) {
        grid-column-gap: $xl-gutter;
        margin: 0;
        > div {
          margin: 0;
        }
      }
    }
  }
}

// Extra Extra large devices - Smart tv

@media (min-width: #{$xxl-min}) {
  .content {
    padding: 0 $xxl-margin;
    .pool {
      margin-left: -($xxl-gutter/2);
      margin-right: -($xxl-gutter/2);
      > div {
        margin: 0 $xxl-gutter/2;
      }
      @supports (display: grid) {
        grid-column-gap: $xxl-gutter;
        margin: 0;
        > div {
          margin: 0;
        }
      }
    }
  }
}