@import "reset";
@import "settings";
@import "grid";

body {
  background: url("../images/seamless.jpg") repeat;
}

.content {
  background: deepskyblue;
  height: 100vh;
  .pool {
    background: orange;
  }
  .pool div {
    background: hotpink;
    height: 100vh;
  }
  div.first {
    @include grid-l(1, 5);
  }
  div.second {
    @include grid-l(5, 9);
  }
  div.third {
    @include grid-l(9, 13);
  }
}

